body {
    height: 1000px;
    width: 1000px;
  position: relative;
  left: 175px;
 
  top: 0px;
}
 #div1 {
          background-color: rgb(186, 200, 206);
     }
 #titolo {
          text-align: center; 
     }
 img {
     height: 250px;
     width: 250px;
     position: relative;
     left: 375px;
     top: 0px;
     }
 h3,h4,p {
     position: relative;
     left: 20px;
     }
 h4 {
font-style: oblique;
}
 #bordo1{
        border-bottom: 2px solid goldenrod;
       }
 #bordo{
        border-top: 4px solid goldenrod;
   }
 h3 {
        color: goldenrod
    }
 #footer {
    text-align: center;
}